<h2>List of Books</h2>
<% listBooks.forEach(book => { %>
<div>
  <p>Title: <%= book.title %></p>
  <p>Author: <%= book.author %></p>
  <p>Genre: <%= book.genre %></p>
  <p>Plot: <%= book.plot %></p>
  <p>ISBN: <%= book.isbn %></p>
  <a href="/book-details/<%= book.id %>">See details</a>
</div>
<% }) %>

<a href="/create-book">Create a new Book</a>

<!-- we need to remember inserting the book/display the book url-->
