<h2>List of Books</h2>
<div class="books-list-body">
  <% listBooks.forEach(book => { %>
  <div class="book-card">
    <div class="book-cover">
      <img
        class="placeholder"
        src="https://images.unsplash.com/photo-1602399481667-07536109851e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="picture unable to load"
      />
    </div>
    <div class="book-details">
      <p class="book-title"><%= book.title %></p>
      <p>by <%= book.author %></p>
      <p><%= book.genre %></p>
      <br />
      <p><%= book.plot %></p>
      <br />
      <p>ISBN: <%= book.isbn %></p>
      <a href="/book-details/<%= book.id %>">See details</a>
    </div>
  </div>

  <% }) %>
  <a href="/create-book">Create a new Book</a>
</div>
<!-- we need to remember inserting the book/display the book url-->
