<div id="bcg-details">
  <div class="content-details">
    <div id="book-title-div">
      <h3><%= detailsBooks.title%></h3>
    </div>
    <div id="bookdetails-cover">
      <% if (detailsBooks.bookCover) {%>
      <img id="bookdetails-coverimage" src="<%= detailsBooks.bookCover%>" />
      <%} else { %>
      <img
        id="bookdetails-coverimage"
        src="https://images.unsplash.com/photo-1602399481667-07536109851e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      />
      <% } %>
    </div>
    <div class="book-details-div">
      <% if (typeof detailsBooks !== 'undefined') {%>
      <p><strong>Author: </strong><%= detailsBooks.author %></p>
      <br />
      <p><strong>Genre: </strong><%= detailsBooks.genre %></p>
      <br />
      <p><strong>Plot: </strong><%= detailsBooks.plot %></p>
      <br />
      <p><strong>ISBN: </strong><%= detailsBooks.isbn %></p>
      <%} %>
      <br />
      <div class="btn-div">
        <form action="/edit-book/<%= detailsBooks.id %>" method="GET">
          <button class="profile-btn" type="submit">Edit Book</button>
        </form>

        <form action="/create-book" method="GET">
          <button class="profile-btn" type="submit">Create a new Book</button>
        </form>

        <form action="/books-list" method="GET">
          <button class="profile-btn" type="submit">See Book List</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- https://images.unsplash.com/photo-1602399481667-07536109851e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 -->
